#include "charybdis.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &charybdis_5col_layout;
        zmk,matrix-transform = &five_column_transform;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <10>;
        rows = <4>;
        events = <0>;
    };
};

&charybdis_position_map {
    /delete-property/ complete;
};