#include "charybdis.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,matrix-transform = &default_transform;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <12>;
        rows = <4>;
        events = <0>;
    };
};

/delete-node/ &charybdis_position_map;