#include "charybdis.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        /delete-property/ zmk,physical-layout;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};